
html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
  }

body {
   background-image: url(../images/honey.png);
   background-repeat: repeat;
   background-color: #c2c2c2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    /*footer sticky fix */
 /*   display: flex;
    flex-direction: column;
    height: 100vh;*/
    
    
    
  }

  .page-content {
     /* width: 100%;
     height: 100%; */
    min-height: 100%;
    padding: none;
    margin-bottom: -85px;
      
  }
  .footer,
  .push
   {
       height: 85px;
   }

  /*Header information */

  header { 
      background-color: #ffffff;
      box-shadow: 1px 2px rgb(194, 194, 194);
      
      top: 0;
      position: absolute;
      width: 100%;
      
}

  .container {
      margin: 0 auto;
      width: 960px;
  }

 

  .logo {
      position: absolute;
      top: 23px;
      background-color: #53A8A3;
      color: #ffffff;
      padding: 0px 20px;
     
      
  }

  nav {
      position: relative;
      float: right;
      top: 0;
     
  }

  nav ul {
      margin: 10;
      padding: 10;
      list-style: none;
  }

  nav li {
    color: #666666;  
    margin-top: 20px;  
    display: inline-block;
    margin-left: 70px;  
    margin-bottom: 20px;

  }

  nav a {
      color: #666666;
      text-decoration: none;
      font-size: 16px;
  }

  /*Main content*/
  main {
  
    /* top: 130px; 
     position: absolute; */
      width: 960px;
       /*footer sticky fix*/
     /*  flex: 1 0 auto;
       padding: 20px; */
       clear: both;
    /* overflow: auto;    */
    margin: 0 auto;
    margin-top: 130px;
}

/*Content inside wrapper*/

.wrapper {
    margin: 0 auto;
    width: 960px;
    background-color: #ffffff;
    position: relative;
    border: 2px solid #dddddd;
    border-radius: 2px;
}
.picture {
    float: left;
    padding: 10px;
    margin: 0px 20px 20px 0px;
}

.content {
    padding: 20px;
    background-color: #ffffff;
}

.headerTitle {
    color: #53A8A3;
    padding: 0px 10px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid rgb(214, 214, 214);
    margin: 1em 0;
    padding: 0; 
}

.mainText {
    top: 6px;
    position: relative;
    
}

/*Footer information*/

.footer  { 
    background-color: #666666;
    box-shadow: 1px 2px rgb(194, 194, 194);
    border-top: 5px solid #53A8A3;
    /* position: absolute; */
    width: 100%;
    /* margin-top: 30px; */    
}


 .footerWrapper {

    margin: 0 auto;
    width: 960px;
    background-color: #666666;
   
    height: 85px;


} 

.footerContent {
   
    
    color: #ffffff;
    font-size: 12px;
    margin: 30px;
    text-align: center;
}

h2 a {
    text-decoration: none;
    color: #ffffff;
}


